<div class="registerform">
	<form name="form" ng-submit="submitForm(form.$valid)" novalidate>
		<div class="control-group"
			ng-class="{'has-error form-inline':submitted && form.email.$invalid}">
			<label class="control-label glyphicon glyphicon-envelope">Your
				email address</label>
			<div class="controls">
				<input type="email" name="email" ng-model="self.user.email" required />
				<span class="has-error help-block"
					ng-show="submitted && form.email.$error.required">** Email
					is required </span> <span class="has-error help-block"
					ng-show="submitted && form.email.$error.email">**Enter valid
					email</span>
			</div>
		</div>
		<div class="control-group"
			ng-class="{'has-error form-inline':submitted && form.password.$invalid}">
			<label class="control-label glyphicon glyphicon-lock">Password</label>
			<div class="controls">
				<input type="password" name="password" ng-model="self.user.password"
					required /> <span class="has-error help-block"
					ng-show="submitted && form.password.$error.required">**
					Password is required </span>
			</div>
		</div>
		<div class="control-group"
			ng-class="{'has-error form-inline':submitted && form.confirmpassword.$invalid}">
			<label class="control-label glyphicon glyphicon-lock">Confirm
				Password</label>
			<div class="controls">
				<input type="password" name="confirmpassword"
					ng-model="self.user.confirmpassword"
					compare-to="self.user.password" required /> <span
					class="has-error help-block"
					ng-show="submitted && form.confirmpassword.$error.required">**
					Confirm Password is required </span> <span class="has-error help-block"
					ng-show="submitted && form.confirmpassword.$error.compareTo">**invalid
					Confirm Password </span>
			</div>
		</div>
		<div class="control-group"
			ng-class="{'has-error form-inline':submitted && form.firstname.$invalid}">
			<label class="control-label glyphicon glyphicon-lock">First
				Name</label>
			<div class="controls">
				<input type="text" name="firstname" ng-model="self.user.firstname"
					required /> <span class="has-error help-block"
					ng-show="submitted && form.firstname.$error.required">**
					First Name is required </span>
			</div>
		</div>
		<div class="control-group"
			ng-class="{'has-error form-inline':submitted && form.lastname.$invalid}">
			<label class="control-label glyphicon glyphicon-lock">Last
				Name</label>
			<div class="controls">
				<input type="text" name="firstname" ng-model="self.user.lastname"
					required /> <span class="has-error help-block"
					ng-show="submitted && form.lastname.$error.required">** Last
					Name is required </span>
			</div>
		</div>
		<div class="control-group"
			ng-class="{'has-error form-inline':submitted && form.phone.$invalid}">
			<label class="control-label glyphicon glyphicon-lock">Phone</label>
			<div class="controls">
				<input type="text" name="phone" ng-model="self.user.phone"
					ng-maxlength=12 ng-minlength=12
					ng-pattern="/^[0-9]+-+[0-9]+-+[0-9]+$/" required /> <span
					class="help-inline"
					ng-show="submitted && form.phone.$error.required">Phone
					number is required</span> <span class="help-inline"
					ng-show="submitted && form.phone.$error.maxlength">Enter
					valid Phone number in ddd-ddd-dddd format</span> <span class="help-inline"
					ng-show="submitted && form.phone.$error.minlength">Enter
					valid Phone number in ddd-ddd-dddd format</span> <span class="help-inline"
					ng-show="submitted && form.phone.$error.pattern">Enter valid
					Phone number in ddd-ddd-dddd format</span>
			</div>
		</div>
		<div class="control-group"
			ng-class="{'has-error form-inline':submitted && form.address1.$invalid}">
			<label class="control-label glyphicon glyphicon-lock">Adddress1</label>
			<div class="controls">
				<input type="text" name="address1" ng-model="self.user.address1"
					required /> <span class="has-error help-block"
					ng-show="submitted && form.address1.$error.required">**
					Address is required </span>
			</div>
		</div>
		<div class="control-group"
			ng-class="{'has-error form-inline':submitted && form.address2.$invalid}">
			<label class="control-label glyphicon glyphicon-lock">Address2</label>
			<div class="controls">
				<input type="text" name="address2" ng-model="self.user.address2" />
			</div>
		</div>

		<div class="control-group"
			ng-class="{'has-error form-inline':submitted && form.pin.$invalid}">
			<label class="control-label glyphicon glyphicon-lock">PIN</label>
			<div class="controls">
				<input type="number" name="pin" ng-model="self.user.pin"
					ng-maxlength=6 ng-minlength=6 required /> <span
					class="help-inline" ng-show="submitted && form.pin.$error.required">PIN
					number is required</span> <span class="help-inline"
					ng-show="submitted && form.pin.$error.maxlength">Enter valid
					PIN number in pppppp format</span> <span class="help-inline"
					ng-show="submitted && form.pin.$error.minlength">Enter valid
					PIN number in pppppp format</span>

			</div>
		</div>
			<div class="control-group"
			ng-class="{'has-error form-inline':submitted && form.city.$invalid}">
			<label class="control-label glyphicon glyphicon-lock">City</label>
			<div class="controls">
				<select ng-model="self.user.city">
					<option ng-repeat="u in ctrl.cities" ng-value=u.cityId
						required="required">{{u.cityName}}</option>
				</select> 
			</div>
		</div>
			<div class="control-group"
			ng-class="{'has-error form-inline':submitted && form.state.$invalid}">
			<label class="control-label glyphicon glyphicon-lock">State</label>
			<div class="controls">
				<select ng-model="self.user.state">
					<option ng-repeat="u in ctrl.states" ng-value=u.stateId
						required="required">{{u.stateName}}</option>
				</select> 
			</div>
		</div>
		<div class="control-group"
			ng-class="{'has-error form-inline':submitted && form.country.$invalid}">
			<label class="control-label glyphicon glyphicon-lock">Country</label>
			<div class="controls">
				<select ng-model="self.user.country">
					<option ng-repeat="u in ctrl.countries" ng-value=u.countryId
						required="required">{{u.countryName}}</option>
				</select> 
			</div>
		</div>
		<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary btn-large"
				ng-click="submitted=true">Register!</button>
		</div>
		</div>
	</form>
</div>